#box {
    width: 200px;
    height: 130px;
    position: absolute;
    background-image: url("PDLOGO.jpg");
    left: 200px;
    top: 200px;
    border-radius: 50%;
}
body {
    background-image: url("Waves.jpg");
}